interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://nl1.api.radio-browser.info/json/stations/topvote/1
  response:
    content: '[{"changeuuid":"599cf698-a707-4d50-8383-e5f342fb9c08","stationuuid":"78012206-1aa1-11e9-a80b-52543be04c81","serveruuid":null,"name":"MANGORADIO","url":"http://stream.mangoradio.de/","url_resolved":"https://mangoradio.stream.laut.fm/mangoradio?t302=2023-12-11_08-56-28&uuid=8b1ac60c-8b49-4740-8622-3e8920aeedc5","homepage":"https://mangoradio.de/","favicon":"","tags":"mango,mangoradio,mongo,mongoradio,public
      radio,webradio","country":"Germany","countrycode":"DE","iso_3166_2":null,"state":"","language":"german","languagecodes":"de","votes":659857,"lastchangetime":"2023-11-04
      17:05:55","lastchangetime_iso8601":"2023-11-04T17:05:55Z","codec":"MP3","bitrate":128,"hls":0,"lastcheckok":1,"lastchecktime":"2023-12-11
      08:04:26","lastchecktime_iso8601":"2023-12-11T08:04:26Z","lastcheckoktime":"2023-12-11
      08:04:26","lastcheckoktime_iso8601":"2023-12-11T08:04:26Z","lastlocalchecktime":"2023-12-10
      21:14:51","lastlocalchecktime_iso8601":"2023-12-10T21:14:51Z","clicktimestamp":"2023-12-11
      17:56:12","clicktimestamp_iso8601":"2023-12-11T17:56:12Z","clickcount":4976,"clicktrend":-120,"ssl_error":0,"geo_lat":null,"geo_long":null,"has_extended_info":false}]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/topvote/1
  response:
    body:
      string: '[{"changeuuid":"b610a038-5c99-4efc-9bd8-9e5ea75de9fd","stationuuid":"78012206-1aa1-11e9-a80b-52543be04c81","serveruuid":"3d329f86-eb68-4b3d-aabc-2cff320eac8d","name":"MANGORADIO","url":"https://mangoradio.stream.laut.fm/mangoradio","url_resolved":"https://mangoradio.stream.laut.fm/mangoradio","homepage":"https://mangoradio.de/","favicon":"https://mangoradio.de/wp-content/uploads/cropped-Logo-192x192.webp","tags":"music,variety","country":"Germany","countrycode":"DE","iso_3166_2":"DE-RP","state":"Rheinland-Pfalz","language":"german","languagecodes":"DE,EN","votes":733735,"lastchangetime":"2025-04-26
        19:32:47","lastchangetime_iso8601":"2025-04-26T19:32:47Z","codec":"MP3","bitrate":128,"hls":0,"lastcheckok":1,"lastchecktime":"2025-04-26
        19:32:50","lastchecktime_iso8601":"2025-04-26T19:32:50Z","lastcheckoktime":"2025-04-26
        19:32:50","lastcheckoktime_iso8601":"2025-04-26T19:32:50Z","lastlocalchecktime":"2025-04-26
        07:51:28","lastlocalchecktime_iso8601":"2025-04-26T07:51:28Z","clicktimestamp":"2025-04-27
        00:03:36","clicktimestamp_iso8601":"2025-04-27T00:03:36Z","clickcount":1761,"clicktrend":10,"ssl_error":0,"geo_lat":null,"geo_long":null,"geo_distance":null,"has_extended_info":false}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
