interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://nl1.api.radio-browser.info/json/stations/topvote/1
  response:
    content: '[{"changeuuid":"599cf698-a707-4d50-8383-e5f342fb9c08","stationuuid":"78012206-1aa1-11e9-a80b-52543be04c81","serveruuid":null,"name":"MANGORADIO","url":"http://stream.mangoradio.de/","url_resolved":"https://mangoradio.stream.laut.fm/mangoradio?t302=2023-12-11_08-56-28&uuid=8b1ac60c-8b49-4740-8622-3e8920aeedc5","homepage":"https://mangoradio.de/","favicon":"","tags":"mango,mangoradio,mongo,mongoradio,public
      radio,webradio","country":"Germany","countrycode":"DE","iso_3166_2":null,"state":"","language":"german","languagecodes":"de","votes":659857,"lastchangetime":"2023-11-04
      17:05:55","lastchangetime_iso8601":"2023-11-04T17:05:55Z","codec":"MP3","bitrate":128,"hls":0,"lastcheckok":1,"lastchecktime":"2023-12-11
      08:04:26","lastchecktime_iso8601":"2023-12-11T08:04:26Z","lastcheckoktime":"2023-12-11
      08:04:26","lastcheckoktime_iso8601":"2023-12-11T08:04:26Z","lastlocalchecktime":"2023-12-10
      21:14:51","lastlocalchecktime_iso8601":"2023-12-10T21:14:51Z","clicktimestamp":"2023-12-11
      17:56:12","clicktimestamp_iso8601":"2023-12-11T17:56:12Z","clickcount":4976,"clicktrend":-120,"ssl_error":0,"geo_lat":null,"geo_long":null,"has_extended_info":false}]'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
