interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?countrycode=be
  response:
    body:
      string: "[{\"changeuuid\":\"bae34592-2567-434c-a29d-7d3509476b37\",\"stationuuid\":\"513af0f8-7327-4b82-a989-e172a609737c\",\"serveruuid\":\"faa8891b-5e66-433b-9901-0efb59fc2d80\",\"name\":\"'
        t Is Vloms Affligem, be\",\"url\":\"http://bluford.torontocast.com:8093/stream\",\"url_resolved\":\"http://bluford.torontocast.com:8093/stream\",\"homepage\":\"https://tisvloms.eu/\",\"favicon\":\"\",\"tags\":\"hot
        adult contemporary,nederlandstalig\",\"country\":\"Belgium\",\"countrycode\":\"BE\",\"iso_3166_2\":\"\",\"state\":\"Oost-Vlaanderen\",\"language\":\"dutch\",\"languagecodes\":\"nl\",\"votes\":4,\"lastchangetime\":\"2025-04-23
        05:24:53\",\"lastchangetime_iso8601\":\"2025-04-23T05:24:53Z\",\"codec\":\"MP3\",\"bitrate\":128,\"hls\":0,\"lastcheckok\":1,\"lastchecktime\":\"2025-06-06
        02:56:28\",\"lastchecktime_iso8601\":\"2025-06-06T02:56:28Z\",\"lastcheckoktime\":\"2025-06-06
        02:56:28\",\"lastcheckoktime_iso8601\":\"2025-06-06T02:56:28Z\",\"lastlocalchecktime\":\"2025-06-05
        14:21:01\",\"lastlocalchecktime_iso8601\":\"2025-06-05T14:21:01Z\",\"clicktimestamp\":\"2025-06-05
        19:34:17\",\"clicktimestamp_iso8601\":\"2025-06-05T19:34:17Z\",\"clickcount\":7,\"clicktrend\":0,\"ssl_error\":0,\"geo_lat\":50.9032940077011,\"geo_long\":4.117327797112607,\"geo_distance\":null,\"has_extended_info\":false},{\"changeuuid\":\"a46d6f96-8248-4158-ad30-fbff0a8a8fba\",\"stationuuid\":\"20d57f3e-e8f1-4f16-b08a-e7190009028b\",\"serveruuid\":\"faa8891b-5e66-433b-9901-0efb59fc2d80\",\"name\":\"'
        t Is Vloms Affligem, be\",\"url\":\"http://bluford.torontocast.com:8093/stream\",\"url_resolved\":\"http://bluford.torontocast.com:8093/stream\",\"homepage\":\"https://tisvloms.eu/\",\"favicon\":\"\",\"tags\":\"\",\"country\":\"Belgium\",\"countrycode\":\"BE\",\"iso_3166_2\":\"\",\"state\":\"\",\"lang[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?countrycode=be&language=dutch
  response:
    body:
      string: "[{\"changeuuid\":\"bae34592-2567-434c-a29d-7d3509476b37\",\"stationuuid\":\"513af0f8-7327-4b82-a989-e172a609737c\",\"serveruuid\":\"faa8891b-5e66-433b-9901-0efb59fc2d80\",\"name\":\"'
        t Is Vloms Affligem, be\",\"url\":\"http://bluford.torontocast.com:8093/stream\",\"url_resolved\":\"http://bluford.torontoc[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?countrycode=be&language=dutch&limit=10
  response:
    body:
      string: '[{"changeuuid":"bae34592-2567-434c-a29d-7d3509476b37","stationuuid":"513af0f8-7327-4b82-a989-e172a609737c","serveruuid":"faa8891b-5e66-433b-9901-0efb59fc2d80","name":"''
        t Is Vloms Affligem, be","url":"http://bluford.torontocast.com:8093/stream","url_resolved":"http://bluford.torontocast.com:8093/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?countrycode=be&language=dutch&limit=10&name=klara&nameExact=false
  response:
    body:
      string: '[{"changeuuid":"0a641701-1833-42e2-b0c7-adc3a4e5afcf","stationuuid":"73be7163-d23c-4cb4-a5fc-29d5e01e51e3","serveruuid":"9498d9c2-a657-454b-93ac-7e0a59889195","name":"Klara","url":"http://icecast.vrtcdn.be/klara.aac","url_resolved":"http://vrt.streamabc.net/vrt-klara-aac-128-625[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?limit=10&name=klara&nameExact=false
  response:
    body:
      string: "[{\"changeuuid\":\"0a641701-1833-42e2-b0c7-adc3a4e5afcf\",\"stationuuid\":\"73be7163-d23c-4cb4-a5fc-29d5e01e51e3\",\"serveruuid\":\"9498d9c2-a657-454b-93ac-7e0a59889195\",\"name\":\"Klara\",\"url\":\"http://icecast.vrtcdn.be/klara.aac\",\"url_resolved\":\"http://vrt.streamabc.net/vrt-klara-aac-128-6255505?sA[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?limit=10&name=klara&nameExact=false&tag=classical
  response:
    body:
      string: '[{"changeuuid":"0a641701-1833-42e2-b0c7-adc3a4e5afcf","stationuuid":"73be7163-d23c-4cb4-a5fc-29d5e01e51e3","serveruuid":"9498d9c2-a657-454b-93ac-7e0a59889195","name":"Klara","url":"http://icecast.vrtcdn.be/klara.aac","url_resolved":"http://vrt.streamabc.net/vrt-klara-aac-128-6255505?sABC=68416n[...]
