interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://de2.api.radio-browser.info/json/stations/search?limit=10
  response:
    body:
      string: '[{"changeuuid":"647c930b-ba03-4723-8807-496e548fea45","stationuuid":"db93a00f-9191-46ab-9e87-ec9b373b3eee","serveruuid":"dfcb0258-c60e-4b6a-9e3b-c53839092fa4","name":"\tArrow
        Classic Rock","url":"http://stream.gal.io/arrow","url_resolved":"http://stream.gal.io/arrow","homepage":"https://www.arrow.nl/","favicon":"https://www.arrow.nl/wp-content/uploads/2020/08/logo.png","tags":"","country":"The
        Netherlands","countrycode":"NL","iso_3166_2":"","state":"","language":"","languagecodes":"","votes":202,"lastchangetime":"2025-04-22
        21:02:29","lastchangetime_iso8601":"2025-04-22T21:02:29Z","codec":"MP3","bitrate":192,"hls":0,"lastcheckok":1,"lastchecktime":"2025-06-05
        18:00:22","lastchecktime_iso8601":"2025-06-05T18:00:22Z","lastcheckoktime":"2025-06-05
        18:00:22","lastcheckoktime_iso8601":"2025-06-05T18:00:22Z","lastlocalchecktime":"2025-06-05
        15:45:04","lastlocalchecktime_iso8601":"2025-06-05T15:45:04Z","clicktimestamp":"2025-06-06
        04:58:54","clicktimestamp_iso8601":"2025-06-06T04:58:54Z","clickcount":169,"clicktrend":12,"ssl_error":0,"geo_lat":52.07963259545092,"geo_long":4.303894042968751,"geo_distance":null,"has_extended_info":false},{"changeuuid":"04703fa4-5131-46c7-acc9-3f0a007bee6a","stationuuid":"ffc0d701-f43b-4232-8be6-f7ff72add8ef","serveruuid":"484f4503-2617-4e4c-9f5d-20bc2e58e675","name":"\tBlasmusikradio
        mit Bernd","url":"https://stream.laut.fm/blasmusikradio_mit_bernd","url_resolved":"https://blasmusikradiomitbernd.stream.laut.fm/blasmusikradio_mit_bernd?t302=2025-06-05_14-58-38&uuid=a7547871-614f-4789-9aba-273f813e126f","homepage":"https://laut.fm/blasmusikradio_mit_bernd","favicon":"https://assets.[...]
